{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div id="new-post">
    Add New Post
    <form method=POST  href="{% url 'index' %}">
        {% csrf_token %}
        <textarea name="text" class="mt-2 form-control" rows="3" placeholder="What are you thinking?"></textarea>
        <button type="submit" id="add-btn" class="btn btn-success">Post</button>
    </form>
</div>

<div>
    <p id="all-posts-label">
        All Posts
    </p>

    {% for post in page_obj %}
        <div id="post" class="card">
            <h6 class="card-header">
                <a id="name" href="{% url 'profile' post.user.id %}">{{ post.user }}</a>
            </h6>
            <div class="card-body">
              <p id="post-{{ post.id }}" class="card-text">{{ post.text }}</p>
              <p id="timestamp" class="card-text">{{ post.timestamp }}</p>

              {% if user in post.getLikes %}
                <button style="background-color: red; color: white;" id="like-{{ post.id }}" type="button" onclick="like('{{ post.id }}')" class="btn btn-outline-danger">{{ post.likes }}</button>
              {% else %}
                <button style="background-color: white; color: red;" id="like-{{ post.id }}" type="button" onclick="like('{{ post.id }}')" class="btn btn-outline-danger">{{ post.likes }}</button>
              {% endif %}

              {% if user == post.user %}
                <button id="edit" onclick="edit('{{ post.id }}')" type="button" class="btn btn-outline-info">Edit</button>
              {% endif %}
              
              <textarea id="text-{{post.id}}"  class="form-control mb-2" style="display:none; margin-top: 10px;"></textarea>
              <button id="edit-{{ post.id }}" class="btn btn-primary" style="display:none;">Save</button>
            </div>
        </div>
        <br>
        
        {% if page_obj.has_previous %}
            <a id="prev" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
            <div id="number"> {{ page_obj.number }} </div>
        {% if page_obj.has_next %}
            <a id="next" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}

            {% if page_obj.has_previous %}
                <a id="prev" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                <div id="number"> {{ page_obj.number }} </div>
            {% if page_obj.has_next %}
                <a id="next" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
    {% empty %}
        <h4 id="no-post">No Post</h3>
    {% endfor %}
</div>
{% endif %}
{% endblock %}